.scoreboard {
    text-align: center;
    background-color: rgba(88, 98, 112, 0.75);
    margin-left: 10px;
    width: 300px;
}

.scoreboard h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

.scoreboard-entry {
    opacity: 1;
    padding-bottom: 10%;
    color: black;
    font-size: 32px;
}

.scoreboard-entry b {
    background-color: rgba(0, 0, 0, 0.8);
}